@font-face {
  font-family: 'lemon-bird';
  src: url('/assets/fonts/lemon-bird.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.header-scrolled {
  @apply bg-white/85 backdrop-blur-md shadow-md fixed;
}

html, body { margin: 0 !important; padding: 0; }
